.face{
    border: 3px solid black;
    height: 300px;
    width: 300px;
    background-color: lightcoral;    
    border-radius: 150px;
    margin-top: 90px;
    
}
.eye1{
    border: 3px solid black;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-top:90px;
    margin-left:-150px;
    background-color: white;

}
.eye2{
    border: 3px solid black;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-top:-38px;
    margin-right:-150px;
    background-color: white;
}
.ret1{
    border: 2px solid black;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 10px;
    margin-top: 11px;
}.ret2{
    border:2px solid black;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius:10px;
    margin-top:10px;
}
.mouth{
    border: 3px solid black;
    height: 70px;
    width: 180px;
    background-color: crimson;
    border-radius:60px 60px 60px 60px;
    margin-top: 15px;
}
.nose1{
    border-radius: 50px 50px 50px 50px;
    height: 40px;
    width: 30px;
    background-color: black;
    margin-top: 9%;
    margin-left: -100px;
}
.nose2{
    border-radius: 50px 50px 50px 50px;
    height: 40px;
    width: 30px;
    background-color: black;
    margin-top: -22%;
    margin-right:-100px;
}
.eyer1{
    border: 3px solid black;
    height: 70px;
    width: 110px;
    background-color: lightcoral;
    border-radius: 0px 0px 60px 60px;
    margin-top: -290px;
    margin-right: 250px;
    rotate: 151deg;

}
.eyer2{
    border: 3px solid black;
    height: 70px;
    width: 110px;
    background-color: lightcoral;
    border-radius: 0px 0px 60px 60px;
    margin-top: -67px;
    margin-left: 200px;
    rotate: 213deg;
    
}
